@charset "UTF-8";
.product_management_title{
    box-sizing: border-box;
    width: 30%;
    margin-left: 20%; margin-top: 50px;
    padding-bottom: 20px;
    font-size: 25px;
}
.product_management_search_bar{
    box-sizing: border-box;
    width: 20%;
    margin-left: 20%; margin-top: 25px;
}
#product_search_bar{
    box-sizing: border-box;
    width: 200px; height: 40px;
}
#product_search_bar_btn{
    width: 40px;
}

.product_management_all{
    box-sizing: border-box;
    width: 50%; height: 40px;
    margin-left: 20%; margin-top: 70px;
}
.product_management_btn{
    box-sizing: border-box;
    width: 30%;
    position: absolute;
    top: 250px;
    right: 5%;
}
#product_register,#product_modify,#product_delete{
    padding-left:20px; padding-right: 20px;
    padding-top: 5px; padding-bottom: 5px;
    background-color: #F7F0D4;
    border: 1px solid gray; border-radius: 6px;
}
#product_register:hover,#product_modify:hover,#product_delete:hover{
    background-color: #f7e8ad; color: #FF8551;
}

.product_management_list{
    box-sizing: border-box;
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;
    margin-left: 20%; width: 65%;
    text-align: center;
}
.product_management_list th{
    box-sizing: border-box;
    padding-top: 15px; padding-bottom: 15px;
    border-bottom: 2px solid gray;
}
.product_management_list td{
    box-sizing: border-box;
    padding-top: 10px; padding-bottom: 10px;
}
#product_checkboxes{
    width: 50px;
}

/* PAGING-BAR */
.paging-area button{
    box-sizing: border-box;
    border: 1px solid gray;
    background-color: #f7e8ad;
}