.reservation_info_more{
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-color: rgba(0,0,0,0.7);
    z-index: 9998;
}
.reservation_info_more_details{
    position: fixed;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    border-radius: 10px;
    background-color: white;
    width: 400px; height: 450px; z-index: 9999; 
}
#reservation_info_more_details_title{
    font-size: larger;
    font-weight: bolder;
    padding-left: 40px;
}
#reservation_info_more_details_info{
    box-sizing: border-box;
    width: 80%; height: 78%; margin: auto;
    padding-top: 10px;
    text-align: center;
}
#reservation_info_more_details_info table{
    line-height: 220%;
    font-size: 15px;
}
#info_more_details_info_name,
#info_more_details_info_className,
#info_more_details_info_classpeople,
#info_more_details_info_classdate,
#info_more_details_info_classtime,
#info_more_details_info_email{
    width:200px; height: 25px;
}
#info_more_details_info_memo{
    width: 200px; height: 60px;
}
#rs_more_modal_register{
    background-color: #f7e8ad;
    margin-top: 15px;
    border: none; border-radius: 5px;
    padding-top:5px; padding-bottom: 5px;
    padding-left:15px; padding-right:15px;
}
#rs_more_modal_close{
    border: none; border-radius: 5px;
    margin-top:10px;
    padding-top:5px; padding-bottom: 5px;
    padding-left:15px; padding-right:15px;
}

/* 신규예약 등록확인창 */
.reservation_info_more_check{
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-color: rgb(0, 0, 0, 0.6);
    display: none;
    z-index: 9998;    
}
.reservation_info_more_check_checked b{
    position: fixed;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    border-radius: 10px;
    background-color: white;
    width: 20%; height: 20%; z-index: 9999;
    text-align: center;
    font-weight: bold;
    padding-top: 30px;
    font-size: 30px;
}
#rs_info_more_check_close{
    border: none; border-radius: 5px;
    position: fixed;
    top: 52%; left: 47.5%;
    padding-top:5px; padding-bottom: 5px;
    padding-left:15px; padding-right:15px;
    z-index: 9999;
}