<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
<entry key="MainselectLocaList">
	SELECT PR.PRODUCT_NO, 
			PR.CLASS_NAME, PR.PRICE,
			 PR.LOCATION,
			 PI.CLASS_CATEGORY,
			 PI.CLASS_KEYWORD,
			 PF.FILE_SAVE_PATH,
    		 PF.FILE_NAME,
    		 PF.FILE_LEVEL
	FROM PRODUCT PR
		JOIN PRODUCT_INFO PI ON PI.PRODUCT_NO = PR.PRODUCT_NO
		JOIN PRODUCT_FILE PF ON PR.PRODUCT_NO = PF.REF_NO
	WHERE LOCATION LIKE ?
</entry>

<entry key="selectUserKey">
	SELECT 
		CLASS_KEYWORD,
		USER_ID
	FROM USER_KEYWORD
	WHERE USER_ID = ?
</entry>
	
<entry key="selectRecomList">

SELECT
    P.PRODUCT_NO,
    P.CLASS_NAME,
    P.PRICE,
    UK.USER_ID,
    UK.CLASS_KEYWORD,
    PF.FILE_SAVE_PATH,
    PF.FILE_NAME,
    PF.FILE_LEVEL,
    PI.CLASS_CATEGORY
FROM
    USER_KEYWORD UK
JOIN
    PRODUCT_INFO PI ON UK.CLASS_KEYWORD = PI.CLASS_KEYWORD
JOIN
    PRODUCT P ON PI.PRODUCT_NO = P.PRODUCT_NO
JOIN
    PRODUCT_FILE PF ON P.PRODUCT_NO = PF.REF_NO
WHERE
    UK.USER_ID = ?


</entry>

<entry key="selectBanner">
	SELECT PR.PRODUCT_NO,
			PR.CLASS_NAME, 
			PR.PRICE, 
			PR.LOCATION,
			PI.CLASS_CATEGORY,
			PI.CLASS_KEYWORD,
			 PF.FILE_SAVE_PATH,
    		 PF.FILE_NAME,
    		 PF.FILE_LEVEL
	FROM PRODUCT PR
		JOIN PRODUCT_INFO PI ON PI.PRODUCT_NO = PR.PRODUCT_NO
		JOIN PRODUCT_FILE PF ON PR.PRODUCT_NO = PF.REF_NO
	WHERE CLASS_CATEGORY LIKE ?
</entry>


</properties>